<section class="main-content group">
	<section class="main-story col col-2-3">
			<section class="col col-1-3">
				<a href="#"><h1>Random Shmandom</h1></a>
				<p class="byline">Who dis by?</p>
				<ul>
					<li>Sentence sentence sentence.</li>
					<li>Random sentence random sentence random sentence</li>
				</ul>
				<a href="#" class="comments"><i class="fa fa-message"></i>115 Comments</a>
			</section>
			<section class="col col-2-3">
				<iframe width="100%" height="300" src="https://www.youtube.com/embed/ARe9FupzuOA" frameborder="0" allowfullscreen></iframe>
				<p>Yo yo yo yo yo</p>
				<article>
					<hr>
					<a href="#"><header>New phone who dis?</header></a>
					<p class="byline">By Yo Mama</p>
					<p>Big whoop.</p>
				</article>
				<article>
					<hr>
					<a href="#"><header>Solo Dolo</header></a>
					<p class="byline">By Yo Daddy</p>
					<p>Hot Damn</p>
				</article>
			</section>
				<hr class="hr-top">
				<hr class="hr-bottom">
	</section>
	<section class="col col-1-3">
		<section class="opinion cf">
				<a href="#"><h2>Opinion Dont Matter Pages</h2></a>
			<section class="col col-1-2">
						<p class="kicker">Op-Ed Contributor</p>
						<a href="#"><header>Ruby Shmuby?</header></a>
						<p>
							Javscript continues to advance with the newly released EcmaScript7 but it still doesn't quite read like Ruby.
						</p>
					<ul class="opinions-list">
						<li>Torvalds: When I Was Almost Wrong</li>
						<li>Knuth: Art of Programming</li>
						<li>Lovelace: The First Algorithm</li>
						<li>Hopper: The First Bug</li>
						<li>Thompson: Go C Unix</li>
						<li>Carmack: My Virtual Reality</li>
						<li>Stallman: Free Speech Not Free Coffee</li>
					</ul>
			</section>
			<section class="col col-1-2">
				<p class="kicker">Operations</p>
				<a href="#"><header>App Academy New York Has A Brand New Office</header></a>
				<p class="byline">By NY OPERATIONS</p>
				<p>The new space features hardwood floors and brick walls for a modern technology space with an aura for learning.</p>
				<div class="thumbnail">
					<img src="/assets/new_office.jpg" alt="app academy new york office">
				</div>
			</section>
			</section>
			<section class="opinion-sign-up">
				<a href="#"><header>Opinion Today, in your Inbox</header></a>
				<p>Each weekday, get though-provoking commentary from our columnists and contributors.</p>
				<form>
					<section class="input-wrapper">
						<input type="text" placeholder="Get the Opinion newsletter by email">
						<button>Sign Up</button>
					</section>
				</form>
				<center>
					<small>We'll also send offers to join the App Academy Bootcamp. You can never unsubscribe.</small>
				</center>
		</section>
				<hr class="hr-top">
				<hr class="hr-bottom">
	</section>
		<section id="overlay" class="overlay hidden"></section>
</section>
